$notion-background-color: #2f3437;
$notion-menu-color: #373c3f;
$notion-menu-text-color: #adafb1;
$notion-text-color: #eaebeb;

$site-title-color: #6d9eeb;

$message-block-background-color: #c37315;


body {
  background-color: $notion-background-color;
  color: $notion-text-color;
  font-family: 'Nunito', sans-serif;
}


#form {

  width: 450px;

  & > * {
    display: block;
    margin-bottom: 12px;
  }

  .hidden {
    display: none;
  }

  & input[type="number"], option {
    border-radius: 6px;
    padding: 4px;
    width: 100px;
  }

  & input[type="number"] {
    //color: red;
    //display: inline-block;
    //margin-left: auto;
    //margin-right: 0;


    //horiz-align: right;

    //float: left;

  }

  & input:required:valid {
    border-color: green;
  }

  & input:invalid {
    border-color: #ef7d37;
    //background-color: transparentize(#ff027a, .8) ;
  }

  & .button {
    width: auto;
    padding: 6px;
    font-weight: bold;
    border-radius: 6px;
    background-color: transparent;
    border-color: $notion-text-color;
    color: $notion-text-color;
  }

  & .file-group {
    margin-top: 30px;
    padding-bottom: 10px;

  }

}

#message-block {
  //border: solid #ef7d37;
  background-color: $message-block-background-color;
  margin-bottom: 16px;
  border-radius: 6px;
  padding: 8px;
  box-shadow: 2px 2px 6px #ef7d37;

  position: absolute;
  width: 100%;


  &:not(.hidden) { // is separated to restart animation when 'hidden' class is removed. Otherwise the 'animation-iteration-count' wont become '0' again.

    top: 6px;

    transition-duration: 0.7s;
    transition-timing-function: ease-out;

    animation-name: blink;
    animation-duration: 2s;
    animation-iteration-count: 2;
    animation-delay: 0.5s;
    animation-timing-function: linear;
    

  }

  &.hidden {
    display: block;
    top: -200px;

    //transition-delay: 200ms;
    transition-duration: 1.2s;
    transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);;

  }
}

#message-content {
  font-size: 20px;
}

.hidden {
  display: none;
}


.fade-out {
  animation: fadeOut ease 6s;
  //animation-iteration-count: 1;
}

@keyframes fadeOut {
  40% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes blink {
  0% {
    background-color: $message-block-background-color;
  }
  50% {
    background-color: lighten($message-block-background-color, 14%);
  }
  110% {
    background-color: $message-block-background-color;
  }
}

table {
  margin-bottom: 10px;

  &:first-child {
    margin-top: 6px;
  }
}

table, th, td {
  border: 1px solid $notion-menu-text-color;
  border-collapse: collapse;
}

td {
  padding: 4px;
  min-width: 70px;
  text-align: center;
  vertical-align: middle;
}

th {
  background-color: $notion-menu-color;
}


/* Tooltip container */
.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted $notion-menu-color; /* If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: $notion-menu-color;
  color: $notion-text-color;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;

  /* Position the tooltip text */
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;

  /* Fade in tooltip */
  opacity: 0;
  transition: opacity 0.3s;
}

/* Tooltip arrow */
.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

/* Draggable block ------------------------------------------ */
#draggable-block {

  border: 2px solid $notion-menu-color;
  border-radius: 16px;
  padding: 8px 16px 16px;
  box-shadow: 2px 2px 20px 12px $notion-menu-color;


  position: absolute;
  z-index: 9;
  /*background-color: #f1f1f1;*/
  /*border: 1px solid #d3d3d3;*/
  text-align: center;
}

#draggable-block-header {
  cursor: move;
  z-index: 10;

  background-color: #054e8c;
  color: $notion-menu-text-color;
}